/*!
 * Stylesheet for Intranet MS BA
 * version: 1.1
 * last modified: 05.12.2021 by donwilson
 * author: Alejandro Oslovski
 * email: aoslovski@ms.gba.gov.ar
 */
 :root {
  --ms-main-color: #00b1c7;
  --ms-secondary-color: #414042;
  --ms-border-form: #00c2db;
  --ms-font: "Encode Sans";
}

html,
body {
  overflow-x: hidden;
  background-color: #f7f7f7;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  text-align: left;
  overflow-y: hidden;
}

.modal-content {
  background: none;
  border-radius: 0.3rem;
}

.shadow-ms {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-toggler {
  color: #fafafa;
}

.offcanvas-collapse {
  position: fixed;
  top: 80px;
  /* Navbar Height */
  bottom: 0;
  align-items: start;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  border-right: 1px solid #e3e3e3;
  right: 100%;
  left: -280px;
  width: 280px;
  padding: 0 1.5rem 1.5rem;
  overflow-y: auto;
  visibility: hidden;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: left, visibility;
}

/*.offcanvas-collapse {*/
/*    align-items:start;*/
/*    -moz-background-clip: padding;*/
/*    -webkit-background-clip: padding;*/
/*    background-clip: padding-box;*/
/*    border-right: 1px solid #e3e3e3;*/
/*    !*border-right: 2px solid;*!*/
/*    !*border-image: linear-gradient(to bottom, #a2a2a2, rgba(50, 50, 50, 0) ) 1 10%;*!*/
/*}*/
.offcanvas-collapse.open {
  left: 0;
  visibility: visible;
}

.navbar-expand-lg .navbar-nav {
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.navbar-ms {
  background: #3b3d45 url("./assets/images/dark-mosaic.png") 0 0;
  border-top: 5px solid var(--ms-main-color);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 0;
  min-height: 80px;
}

.intranet-logo > span {
  display: block;
  font-family: var(--ms-font), Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.1;
  margin: 0;
}

.intranet-logo .fst-line {
  color: #acacac;
}

.intranet-logo .snd-line {
  color: var(--ms-main-color);
}

.btn-user {
  /*color: #fff;*/
  /*font-weight: 600;*/
  /*background: none;*/
  /*border: transparent;*/
  /*cursor: pointer;*/
  /*white-space: nowrap;*/
  color: #fff;
  font-weight: 600;
  background: none;
  border: transparent;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* width: 20rem; */
  text-align: right;
}

.btn-user i {
  font-size: 1.5rem;
}

.btn-user:active,
.btn-user:hover,
.btn-user:focus {
  color: #fafafa;
  border: transparent;
  box-shadow: none;
}

/*.dropdown-user .dropdown-menu{*/
/*.btn-user2{*/
/*    color: #fff;*/
/*    font-weight: 600;*/
/*    background: none;*/
/*    border: transparent;*/
/*    cursor: pointer;*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    width: 20rem;*/
/*    !*max-width: 30vw;*!*/
/*    text-align: right;*/
/*}*/
/*.btn-user2 i{*/
/*    font-size: 1.5rem;*/
/*}*/
/*.btn-user2:active,*/
/*.btn-user2:hover,*/
/*.btn-user2:focus{*/
/*    color:#fafafa;*/
/*    border: transparent;*/
/*    box-shadow: none;*/
/*}*/

.username {
  display: none;
}

.dropdown-user.dropdown-menu {
  right: 0;
  left: auto;
  width: 20rem;
  border-radius: 0.5rem;
}

.dropdown-user .dropdown-item {
  white-space: normal;
}

.text-no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.font-weight-medium {
  font-weight: 500;
}

.dropdown-user .dropdown-item:focus,
.dropdown-user .dropdown-item:hover,
.dropdown-user .dropdown-item:hover i {
  background-color: #fff;
  cursor: default;
}

/*para probar quito el triangulito para arriba*/
/*.dropdown-user.dropdown-menu:after {*/
/*    position: absolute;*/
/*    top: -6px;*/
/*    right: 15px;*/
/*    display: inline-block;*/
/*    border-right: 6px solid transparent;*/
/*    border-bottom: 6px solid #fafafa;*/
/*    border-left: 6px solid transparent;*/
/*    content: '';*/
/*}*/
/** titulo del index **/
.titulo-principal h4 {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.titulo-principal h6 {
  font-size: clamp(0.8rem, 1vw, 1rem);
}

.titulo-principal .fa-stack {
  font-size: clamp(1.5rem, 2vw, 2rem);
}

.footer.open,
.breadcrumb.open {
  margin-left: 0px;
}

.footer {
  background-color: #fff;
  border-top: 1px solid var(--ms-main-color);
  color: #6c757d;
  font-weight: bold;
  line-height: 1.1;
  padding: 1rem;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: margin-left;
}

.breadcrumbs {
  /*position: fixed;*/
  /*top: 80px;*/
  width: 100%;
  z-index: 111;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #aaa;
  content: "\00BB";
}

.breadcrumb-item.active {
  color: #008ea0;
}

.breadcrumb a {
  color: #444;
}

.breadcrumb a:hover {
  color: #444;
  text-decoration: none;
}

.breadcrumb {
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
  border-radius: 0;
  /*box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.04);*/
  color: #eee;
  /*font-family: "Open Sans", Helvetica, sans-serif;*/
  font-size: 0.9rem;
  /*padding: 0.5rem 1rem;*/
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: margin-left;
}

/**
* Toaster
* Para mensajes slide usando toaster
*/
.toast-wrapper {
  position: fixed;
  top: 150px;
  /* Navbar Height */
  right: -300px;
  width: 300px;
  visibility: hidden;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
  transition-property: right, visibility;
  z-index: 9999999;
}

.toast-wrapper.show {
  right: 2%;
  visibility: visible;
}

.toast.hide {
  display: block;
}

.toast.show {
  background: none;
  border-radius: 0.3rem;
}

.footer .copy {
  display: block;
  color: #999999;
  font-size: 80%;
  font-weight: 400;
}

/**
* Media Querys,
* Control pantallas desktop
*/
@media only screen and (min-width: 1715px) {
  .footer.open,
  .breadcrumb.open {
    /*margin-left: 300px;*/
    margin-left: 250px;
  }

  .btn-user2,
  .dropdown-user.dropdown-menu {
    width: 20rem;
    /*max-width: 20vw;*/
  }

  .username {
    display: inline;
  }

  .container-fluid {
    /*margin-left: 250px;*/
  }
}

@media only screen and (min-width: 1024px) {
  .footer.open,
  .breadcrumb.open {
    margin-left: 280px;
  }

  .btn-user2,
  .dropdown-user.dropdown-menu {
    width: 20rem;
    /*max-width: 20vw;*/
  }

  .username {
    display: inline;
  }

  .container-fluid {
    /*margin-left: 250px;*/
  }
}

/**
* Formularios
*/
.form-control,
.input-group-text {
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
}

.form-control:focus,
.custom-select:focus {
  border-color: var(--ms-border-form);
  box-shadow: none;
}

.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-webkit-input-placeholder {
  color: #bbb;
  opacity: 1;
}

.form-control.is-invalid:focus,
.was-validated,
.form-control:invalid:focus,
.custom-select:focus {
  box-shadow: none;
}

.form-control::placeholder {
  color: #9d9d9d;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #ff5b57;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23ff5b57' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ff5b57' stroke='none'/%3e%3c/svg%3e");
}

.form-control.is-invalid::placeholder {
  color: #ff5b57;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.8rem;
  color: #ff5b57;
}

.form-control.disabled,
.form-control:disabled,
.form-control[readonly] {
  background: rgb(245, 245, 245);
  border-color: #d6d6d6;
  cursor: not-allowed;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

label {
  margin-bottom: 0.2rem;
  font-weight: 600;
}

label.required::after {
  content: " *";
  color: #da0025;
}

button:focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.btn.btn-circle {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  height: 2.2rem;
  line-height: 1.8;
  min-width: 2.2rem;
  padding: 0;
  width: 2.2rem;
}

.btn.btn-circle:hover {
  background-color: #aeaeae;
}

.action-btn {
  opacity: 0.8;
}

.action-btn:hover {
  opacity: 1;
}

/**
* Mensajes Flash
*/
.alert-ms {
  background: #fff;
  border-top: 4px solid transparent;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  font-weight: bold;
  margin: 1rem 0;
  padding: 0.625rem;
}

.alert-ms.alert-success {
  color: #00b02e;
  border-top-color: #00b02e;
}

.alert-ms.alert-error {
  color: #ee3e4f;
  border-top-color: #ee3e4f;
}

/** mensajes flash para los modals **/
.modal-alert {
  padding: 0.75rem;
  margin: 1.25rem;
  border: 1px solid #eee;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
  background: #fff;
}

.modal-alert-info {
  border-left-color: #00a2d4;
}

.modal-alert-success {
  border-left-color: #00c971;
}

.modal-alert-danger {
  border-left-color: #d40041;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/**
* BLOQUE PATA PROBAR ALGUNOS ESTILOS
*/
.border-info {
  border-color: #49b6d6;
}

.page-header {
  font-size: 24px;
  margin: 0 0 15px;
  padding: 0;
  border: none;
  line-height: 32px;
  font-weight: 500;
}

.section-title {
  color: #5b5b5b;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.1;
  margin-bottom: 0.325rem;
  padding: 0;
}

.section-subtitle {
  color: #0078b3;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: 60%;
  font-weight: 400;
  color: #6f8293;
}

.text-info {
  color: #17a2b8 !important;
  font-weight: 500;
}

.text-muted {
  color: #6c757d !important;
  font-weight: 700;
}

.link-manual {
  color: #fcfcfc;
  background-color: #009aae;
  font-size: 1.125rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
}

.link-manual:hover {
  color: #fff;
  text-decoration: none;
  background-color: #414042;
  border: 2px solid #009aae;
}

/*--------------------------------------------------------------------------------------------------------------------*/

/**
* Menu Tabla
* Menu de acciones de una tabla
*/
.dropdown-w {
  border: 1px solid #ccc;
}

.dropdown-w[x-placement="bottom-start"] {
  border-top: 4px solid #595959;
  border-bottom: 1px solid #ccc;
}

.dropdown-w[x-placement="top-start"] {
  border-top: 1px solid #ccc;
  border-bottom: 4px solid #595959;
}

.dropdown-w[x-placement="bottom-start"]:after {
  position: absolute;
  top: -10px;
  right: 45%;
  display: inline-block;
  border-right: 0.438rem solid transparent;
  border-bottom: 0.438rem solid #595959;
  border-left: 0.438rem solid transparent;
  content: "";
}

.dropdown-w[x-placement="top-start"]:after {
  position: absolute;
  bottom: -10px;
  right: 45%;
  display: inline-block;
  border-right: 0.438rem solid transparent;
  border-top: 0.438rem solid #595959;
  border-left: 0.438rem solid transparent;
  content: "";
}

.dropdown-divider {
  margin: 0;
  border-top: 1px solid #e9ecef;
}

.dropdown-w .dropdown-item {
  padding: 0.5rem 1rem;
}

.dropdown-w .dropdown-item,
.dropdown-w .dropdown-item i {
  color: #646464;
}

.dropdown-item .fa,
.dropdown-item .fas,
.dropdown-item i {
  color: #646464;
}

.dropdown-item i:hover {
  color: white;
}

.dropdown-item .bi,
.dropdown-item i {
  margin-right: 0.5rem;
}

.dropdown-w .dropdown-item:focus,
.dropdown-w .dropdown-item:hover,
.dropdown-w .dropdown-item:hover i,
.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item:hover i {
  background-color: #1e95ff;
  color: white;
}

/**
* Boton de accion para el dropdown
*/
.round-action-button {
  font-size: 1.5rem;
  color: #595959;
  padding: 0.3em;
  border-radius: 50%;
  box-sizing: content-box;
  background: transparent;
  transition: background-color 0.5s ease;
}

.round-action-button:hover,
.round-action-button:active,
.round-action-button:focus,
.round-action-button:focus-within {
  color: #595959;
  background: #dedee1;
}

.btn-round {
  padding: 0.125rem 1.5rem;
  border-radius: 1rem;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:focus {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

/**
* Menu Tabla 2
* Menu de acciones de una tabla
*/
.dropdown-button {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  background: #fff;
  border: solid 1px #aaa;
}

/**
+ Botones
*/
.btn-prev {
  color: #4675a6;
  border-color: #4675a6;
}

.btn-prev:hover,
.btn-prev:active,
.btn-prev:focus {
  background-color: #4675a6;
  border-color: #4675a6;
  color: #fff;
}

.btn-next {
  background-color: #4675a6;
  border-color: #4675a6;
  color: #fff;
}

.btn-volver-super {
  color: #0078b3;
  font-size: 1.185rem;
  font-weight: 500;
}

.btn-volver-super:hover,
.btn-volver-super:active,
.btn-volver-super:focus {
  color: #0078b3;
  text-shadow: 2px 2px 3px #bbd4e9;
}

.btn-next:hover,
.btn-next:active,
.btn-next:focus {
  background-color: #1d5d88;
  border-color: #1d5d88;
  color: #fff;
}

.btn-back {
  color: #0078b3;
  font-size: 1.185rem;
  font-weight: 500;
}

.btn-back:hover,
.btn-back:active,
.btn-back:focus {
  color: #0078b3;
  text-shadow: 2px 2px 3px #bbd4e9;
}

.btn-excel {
  background-color: #107c41;
  color: #fafafa;
  border-color: #107c41;
}

.btn-excel:hover,
.btn-excel:focus,
.btn-excel:active,
.btn-excel.active {
  background-color: #1d6f42;
  color: #fff;
}

.btn-buscar {
  color: #fff;
  background-color: #414042;
  border-color: #414042;
}

.btn-buscar:hover,
.btn-buscar:active,
.btn-buscar:focus {
  background-color: #23272b;
  border-color: #1d2124;
  color: #fff;
}

.btn-limpiar {
  color: #414042;
  border-color: #414042;
}

.btn-limpiar:hover,
.btn-limpiar:active,
.btn-limpiar:focus {
  color: #fff;
  background-color: #414042;
  border-color: #414042;
}

.btn-guardar {
  background-color: #04a777;
  border-color: #04a777;
  color: #fff;
}

.btn-guardar:hover,
.btn-guardar:active,
.btn-guardar:focus {
  background-color: #088a64;
  border-color: #088a64;
  color: #fff;
}

.btn-outline-guardar {
  border-color: #04a777;
  color: #595959;
}

.btn-outline-guardar:hover,
.btn-outline-guardar:active,
.btn-outline-guardar:focus {
  background-color: #088a64;
  border-color: #088a64;
  color: #fff;
}

.text-bg-success {
  background-color: #28a745 !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/**
* Estilos para modificar el paginador
*/
.btn-pag-middle,
.btn-pag-middle:hover {
  background-color: #fff;
}

.btn-white,
.btn-white:focus,
.btn-white:active,
.btn-white.active {
  color: #333;
  background-color: #f0f0f0;
  padding: 0.325rem 0.85rem;
}

.btn-white:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
  border-bottom: 1px solid #ccc;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.45;
}

/*.table td,*/
.table th {
  border-top: none;
}

/*.dropdown-item {*/
/*    padding: .5rem 1rem;*/
/*    color: #646464;*/
/*}*/
/*.dropdown-item .fas {*/
/*    color:#646464;*/
/*}*/
/*.dropdown-item i:hover {*/
/*    color:white;*/
/*}*/
/*.dropdown-item .bi {*/
/*    margin-right: 0.5rem;*/
/*}*/
/*.dropdown-item:focus, .dropdown-item:hover {*/
/*    background-color: #1e95ff;*/
/*    color: white;*/
/*    padding: .5rem 1rem;*/
/*}*/

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px !important;
  }
}

.hrstyle {
  margin: 10px 0;
  border: #5dade2;
  border-bottom: 5px solid #5dade2;
}

.hrstyle2 {
  margin-top: 4rem;
  border: #5dade2;
  border-bottom: 5px solid #5dade2;
}

.modal-body {
  font-weight: normal !important;
}

.custom-dropdown {
  border: 3px solid #0099cc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.operativoByRef {
  background-color: #f3f3f3;
  border: 1px solid #ccc;

  padding: 10px;
  border-radius: 5px;
}

.operativoInfo {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.infoItem {
  margin: 5px 0;
}

.btn.btn-outline-info:hover {
  color: #fff;
}

.funcion {
  width: 400px;
}

@media (max-width: 800px) {
  .funcion {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .postCargo > div {
    flex-direction: column;
  }
}

.PerdosaDatosShow {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PerdosaDatosShow div {
  text-align: center;
}

.PerdosaDatosShow p {
  color: #6c757d;
  font-size: 16px;
  margin-bottom: 5px;
}

.añomesdia {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.añomesdia input {
  max-width: 10%;
}

.fechadesdefechahasta {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  align-items: center;
  margin-top: 2rem;
}

.fechadesdefechahasta label {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.fechadesdefechahasta input {
  max-width: 25%;
  margin: 0 0.5rem;
}

.tituloInputJurisficcion {
  background-color: #54cbdb;
  padding: 0.5rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.descuentosContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.descuentosContainer > div {
  margin-bottom: 1rem;
}

@media (max-width: 880px) {
  .descuentosContainer {
    flex-direction: column;

    align-items: center;
    margin-left: 0 auto;
    margin-top: 1rem;
  }
}

.swal-popup-class {
  border-radius: 10px;
  border: 1px solid #e0e0e0;
}

.swal-title-class {
  font-family: "Arial", sans-serif;
  font-size: 1.2em;
  color: #4a4a4a;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.input-container label {
  flex: 1 1 calc(33.333% - 1rem);
  display: flex;
  flex-direction: column;
}

.input-container input,
.input-container textarea {
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.input-container textarea {
  width: 100%;
}

@media (max-width: 768px) {
  .input-container label {
    flex: 1 1 calc(50% - 1rem);
  }
}

@media (max-width: 480px) {
  .input-container label {
    flex: 1 1 100%;
  }
}

/* CardItem.css */
.card-body {
  padding: 0.5rem;
}

.list-unstyled {
  padding: 0;
  margin: 0;
}

.card-item {
  margin-bottom: 1rem;
}

.key-value {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.key {
  font-weight: bold;
  margin-bottom: 2px;
}

.value {
  word-wrap: break-word;
}

/* Contenedor principal para los servicios */
.servicio-jurisdiccion {
  display: flex;
  flex-direction: column;
}

/* Estilo para los párrafos dentro del contenedor */
.servicio-jurisdiccion p {
  margin: 0.5rem 0;
  /* padding: 0.5rem; */

  border-radius: 4px;
  /* background-color: #f9f9f9; */
}

/* Diseño responsivo */
@media (min-width: 768px) {
  .servicio-jurisdiccion {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .servicio-jurisdiccion p {
    flex: 1 1 30%;
    margin: 0.5rem;
  }
}

.expediente {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.expediente span {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 15px;
}

.expediente label {
  display: none;
}

.expediente .inputs-container {
  display: flex;
  margin-top: 10px;
  align-items: center;
  gap: 8px;
}

.expediente input[type="text"] {
  width: 100%;
  padding: 4px;
  font-size: 12px;
  text-align: center;
}

.TramitesIniciados {
  text-align: center;
  margin-top: 40px;
}

.datatable-container {
  border: 1px solid #ddd;
  margin-top: 2rem;
  border-radius: 6px;
  padding: 1rem;
  background-color: #f4f4f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
}

/* Efecto hover para dar una sensación interactiva */
.datatable-container:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.DataTableContainer {
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;

  background-color: #fff;
}

.DataTableContainer h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

.react-data-table-component {
  border-radius: 8px;
}

.react-data-table-component .rdt_Table {
  border-collapse: separate;
}

.react-data-table-component .rdt_TableRow:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.react-data-table-component .rdt_TableRow:nth-of-type(even) {
  background-color: #fff;
}

.inputs-tramites {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.excel-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.excelbutton {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.excelbutton:hover {
  background-color: #45a049;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.observaciones-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.observaciones-textarea {
  width: 100%;
  max-width: 1200px;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  resize: vertical;
  font-size: 16px;
  line-height: 1.5;
}

.observaciones-textarea:focus {
  outline: none;
  border-color: #999;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.button-observacion {
  display: flex;
  justify-content: center;
}

.eliminarAbolute {
  position: absolute;
  right: 0px;
}

.validacionFechas {
  margin-top: 0.5rem;
  text-align: center;
  color: red;
}

.descuentos {
  display: flex;
  margin-top: 25px;
}

.inputsAdicionalesH {
  margin-top: 10px;
}

/* MODAL DE CONFIRMACION PARA CAMBIAR EL ESTADO */
.custom-modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: auto;
}

.modal-dialog {
  max-width: 100%;
  margin: 0 auto;
}

.modal-header,
.modal-footer {
  background-color: #f7f7f7;
  border: none;
  padding: 15px;
}

.modal-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  background-color: #ffffff;
  color: #333;
  padding: 20px;
}

button {
  font-size: 1rem;
  padding: 10px 20px;
}

button.primary {
  background-color: #ffcc00;
  border-color: #ffcc00;
}

button.secondary {
  background-color: #f1f1f1;
  color: #333;
  border-color: #ddd;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

button.primary:hover {
  background-color: #e6b800;
}

button.secondary:hover {
  background-color: #e1e1e1;
}

.observacionestado5 {
  width: 350px;
}
